/*скидання стилів*/
@import url("reset.css");

/*ТИПИ селекторів*/
/*тип0 - селектор зірочка*/
/*  *{} - запит до всіх об'єктів*/

/*тип1 - селектор тегу*/
h2 {
   color: rgba(18, 4, 144, 0.965);
   font-size: 26px;
}

/*тип2 - селектор класу*/
.content{
   color: blueviolet;
}

/*тип3 - селектор ідентифікатора*/
#annotation {
   color: rgba(152, 149, 149, 0.716);
}

/*КОМБІНАЦІЇ селекторів*/
/*селектор тегу + селектор класу*/
ol.text_desc {
   color: rgba(251, 62, 138, 0.878);
}

/*селектор класу + селектор класу*/
.subtitle.short{
   color: rgb(30, 173, 125);
}

/*звернення одназу до кількох класів*/
.resume,
.dessc_item,
.akcent{
   color: rgb(245, 109, 4);
}

/*КАСКАДНІСТЬ вкладень*/
/*звернення до всіх тегів, що належать певному класу*/
.text i{
   color: rgb(158, 5, 7);
}

/*звернення до всіх об'єктів з певним класом, які в середині певного класу*/
.text_punct .dessc_punct{
   background-color: aqua;
}

/*звернення до всіх об'єктів з вказаним класом*/
.subtitle1_item*{
   background-color: rgb(233, 5, 5); /*це чомусь в мене не получається зафарбувати?????????*/
}

/*усі певні теги, тільки першого рівня вкладенності у вказаний клас*/
.text>p{
   background-color: rgba(207, 207, 243, 0.624);
}

/*усі певні теги, які знаходяться далі по коду після об'єктів вказаного класу
та мають той самій рівень вкладеності*/
.text_punct~ol{
   background-color: rgb(156, 195, 171);
}